<p id="notice"><%= notice %></p>

<p>
  <strong>Kernel Config File:</strong>
  <%= @kernel_build.kernel_config.config_filename %>
</p>

<p>
  <strong>Kernel Source Info:</strong>
  <%= @kernel_build.kernel_source.display_name %>
</p>

<p>
  <strong>Artifact url:</strong>
  <%= @kernel_build.artifact_url %>
</p>