<div class="container-fluid">
  <% if current_user %>
    <%= render 'shared/logout_button' %>

    <%= render 'shared/kernel_table' %>
    <%= button_to "Create New Kernel", new_kernel_build_path, method: :get, class: "btn btn-lg btn-primary"%>
  <% else %>
    <div class="top-right-corner">
      <%= button_to "Login with GitHub", "/auth/github", class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>