<h1>WELCOME TO KERNEL BUILDER!</h1>

<% if current_user %>
  <h3>Logged in as: <%= current_user.username %></h3>
  <%= button_to "Logout", logout_path, method: :get %>
<% else %>
  <%= button_to "Login with GitHub", "/auth/github" %>
<% end %>